#top_heading {
  color: #fbfef9;
  text-align: left;
}
#Title {
  color: #fbfef9;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid black;
  outline: none;
  background-color: gray;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
}
#scrollToTopBtn:hover {
  background-color: #555;
}
body {
  text-align: center;
  background-color: #191923;
}
.bText {
  color: #fbfef9;
}
.scrollingBtn {
  background-color: #191923;
  font-size: 12px;
  color: #fbfef9;
  border-radius: 10px;
}
.footer {
  height: 30px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}
.footer_contents {
  height: 20px;
  width: 20px;
  margin: auto;
}
#profile_pic {
  border-radius: 150px;
}
#documentViewer {
  display: none;
}
#viewer {
  text-align: left;
  z-index: 100;
}
#viewer:hover {
  background-color: black;
}
.subTitles {
  color: #fbfef9;
}
