a {
    color: yellow;
    text-decoration: solid;
    background-color: rgb(14, 138, 10);
  }

  .nav-pills,
  .nav-link:active {
    background-color: rgb(14, 138, 10) !important;
    color: white !important;
  }

  .nav-link:hover {
    background-color: yellow !important;
    color: black !important;
  }
  .nav-pills .nav-link.active { background-color: yellowgreen;}
  body{
    background-color: aquamarine;
  }