a {
    color: white;
    text-decoration: solid;
    background-color: #634087;
  }

  .nav-pills,
  .nav-link:active {
    background-color: #8549a7 !important;
    color: white !important;
  }

  .nav-link:hover {
    background-color: antiquewhite !important;
    color: #a86add !important;
  }
  .nav-pills .nav-link.active { background-color: #c785ec;}
  body{
    background-color: #f3deff;
  }